/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background: #100f0f;
    color: #d5cbcb;
}

a {
    text-decoration: none;
    color:#c48134;
}

a:hover {
    color: #8f37b0;
}

nav{
    overflow: hidden;
    margin-bottom: 30px;
}
.navlink{
    float: left;
}

.delete{
    display:flex;
    flex-direction:row-reverse;
    column-gap: 2em;
}

.link {
    display: flex;
    column-gap: 2em;
}

.dellink{
    color: #dd1111;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label{
    flex: 0.2;
}

.form-row input{
    flex: 2;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: #dd1111;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}
.button {
    display: block;
    background: #c48134;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}

#containerlist, containershow{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.listitem{
    margin: 10px 0;
}