@model CumulativePart1.Models.Class
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <a class="navlink" href="/Class/List">Back to Classes</a>
    <h2>@Model.ClassCode @Model.ClassName</h2>
    <p>Teacher Id: @Model.TeacherId</p>
    <p>Finish Date: @Model.FinishDate</p>
</div>
